<!DOCTYPE html>
<html>
<head>
    <link rel="icon" href="/images/weather.png"></link>
    <link href="/css/styles.css" rel="stylesheet"/>    
    <title> {{title}} </title>
</head>
<body>
    <div class="main-content">
        {{>header}}
        <p> {{description}} </p>
        <img class="portrait" src="{{src}}" />    
    </div>        
    {{>footer}}
</body>
</html>