<!DOCTYPE html>
<html>
<head>
    <link rel="icon" href="/images/weather.png"></link>
    <link href="/css/styles.css" rel="stylesheet"/>    
    <title> Page not found </title>
</head>
<body>
    <div class="main-content">
        {{>header}}
        <p> {{message}} </p>
    </div>
    {{>footer}}
</body>
</html>