<!-- html files  + template rules -->
<!DOCTYPE html>
<html>
<head>    
    <!--relative path =>  ./css/styles.css                -->
    <!--absolute path =>  /css/styles.css relative folder -->
    <link rel="icon" href="/images/weather.png"></link>
    <link href="/css/styles.css" rel="stylesheet"/>
    <!-- fetching the forecast and only page that needs this js file -->

    <!-- 
        This gonna not work because the script is loading before all element is loaded 
        <script type="text/javascript" src="/js/app.js"></script> 
        So we have to put it before the end of the tab body
     -->
    <title>{{title}}</title>
</head>
<body>
    <div class="main-content">
        {{>header}}   
        <p> <b>Author</b> : {{author}} </p>
        <p> <b>Description</b> : {{description}} </p>
        <form>
            <input placeholder="Type location or country"/>
            <button> Search </button>
        </form>
        <p id="message-1"></p>
        <p id="message-2"></p>
    </div>
    {{>footer}}

    <script type="text/javascript" src="/js/app.js"></script>
</body>
</html>
